.toggle_button{
    height:48px;
    color:white;
    padding: 1rem 1rem;
}

import React from 'react';

import './drawerToggleButton.css';

const drawerToggleButton = props =>(
 <h2>123</h2>

);

export default drawerToggleButton;