.toolbar{
    width:100%;
    position:fixed;
    background: #9A13aa;
    columns: #999999;
    height:56px;
    top:0;
    left:0;
}
.toolbar__navigation{
    display:flex;
    align-items: center;
    height:100%;
    padding: 0 1rem;

}

.toolbar__logo{
    margin-left:0.5rem;
}

.toolbar__logo a{
    color:white;
    text-decoration: none;
    font-size:2rem;
}

.toolbar_navigation_items a{
    color:white;
    text-decoration: none;
    font-size:1rem;
}
.toolbar_navigation_items a:active,
.toolbar_navigation_items a:hover{
color:orangered;
}

.toolbar_navigation_items ul{
    display:flex;
    list-style: none;
    margin:0;
    padding:0;
}
.toolbar_navigation_items li{
    padding:0 0.5rem;
}

.spacer{
    flex:1;
}